.profile-icons {
  margin: 0 24px 0 0;

  @include vp-1279 {
    margin: 0 14px 0 0;
  }

  @include vp-1023 {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &__list {
    display: flex;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include vp-1279 {
      column-gap: 14px;
    }
  }

  &__item {
    width: 22px;
    height: 22px;
  }

  &__button {
    height: 22px;
    width: 22px;
    border: 0;
    outline: 0;
    padding: 0;
    background-color: $color-transparent;
    cursor: pointer;
    color: $color-default-black;
    transition: all $trans-default;

    svg {
      fill: $color-transparent;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus-visible {
        color: $color-padua;
      }
    }
  }
}
