-
  var filtersData = [
    {
      typeClass: "tab",
      type: "checkbox",
      typeFor: "new",
      text: "Новинки",
      name: "new",
      value: "new",
      checked: false
    },
    {
      typeClass: "tab",
      type: "checkbox",
      typeFor: "have",
      text: "Есть в наличии",
      name: "have",
      value: "have",
      checked: false
    },
    {
      typeClass: "tab",
      type: "checkbox",
      typeFor: "cont",
      text: "Контрактные",
      name: "cont",
      value: "cont",
      checked: false
    },
    {
      typeClass: "tab",
      type: "checkbox",
      typeFor: "ex",
      text: "Эксклюзивные",
      name: "ex",
      value: "ex",
      checked: false
    },
    {
      typeClass: "tab",
      type: "checkbox",
      typeFor: "sale",
      text: "Распродажа",
      name: "sale",
      value: "sale",
      checked: false
    }
  ]
