-
  var productsData = [
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6250",
      type: 'new',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "10",
      type: 'new have',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "420",
      type: 'have cont',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "624000",
      type: 'new ex have',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "640",
      type: 'sale have',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "62340",
      type: 'new cont',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "610",
      type: 'have cont',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "200",
      type: 'have cont sale',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "4200",
      type: 'have cont sale',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6530",
      type: 'new sale',
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6000",
      type: 'sale',
    }
  ]
