-
  var productsData = [
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6250",
      type: 'new',
      itemDate: '2028-12-17T03:24:00',
      popular: 5
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "10",
      type: 'new have',
      itemDate: '2017-12-17T03:24:00',
      popular: 2
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "420",
      type: 'have cont',
      itemDate: '2014-12-17T03:24:00',
      popular: 2
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "624000",
      type: 'new ex have',
      itemDate: '2012-12-17T03:24:00',
      popular: 5
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "640",
      type: 'sale have',
      itemDate: '2005-12-17T03:24:00',
      popular: 4
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "62340",
      type: 'new cont',
      itemDate: '2001-12-17T03:24:00',
      popular: 1
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "610",
      type: 'have cont',
      itemDate: '2018-12-17T03:24:00',
      popular: 3
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "200",
      type: 'have cont sale',
      itemDate: '2056-12-17T03:24:00',
      popular: 1
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "4200",
      type: 'have cont sale',
      itemDate: '2002-12-17T03:24:00',
      popular: 2
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6530",
      type: 'new sale',
      itemDate: '2047-12-17T03:24:00',
      popular: 5
    },
    {
      imgPath: "content",
      imgName: "product-first",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6000",
      type: 'sale',
      itemDate: '2013-12-17T03:24:00',
      popular: 2
    }
  ]
