-
  var productsData = [
    {
      id: "1",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102 раска Wallquest",
      itemPrice: "6 250",
      type: 'new',
      itemDate: '2028-12-17T03:24:00',
      popular: 5
    },
    {
      id: "2",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "10",
      type: 'new have',
      itemDate: '2017-12-17T03:24:00',
      popular: 2
    },
    {
      id: "3",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "420",
      type: 'have cont',
      itemDate: '2014-12-17T03:24:00',
      popular: 2
    },
    {
      id: "4",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "624 000",
      type: 'new ex have',
      itemDate: '2012-12-17T03:24:00',
      popular: 5
    },
    {
      id: "5",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "640",
      type: 'sale have',
      itemDate: '2005-12-17T03:24:00',
      popular: 4
    },
    {
      id: "6",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "62 340",
      type: 'new cont',
      itemDate: '2001-12-17T03:24:00',
      popular: 1
    },
    {
      id: "7",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "610",
      type: 'have cont',
      itemDate: '2018-12-17T03:24:00',
      popular: 3
    },
    {
      id: "8",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "200",
      type: 'have cont sale',
      itemDate: '2056-12-17T03:24:00',
      popular: 1
    },
    {
      id: "9",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "4 200",
      type: 'have cont sale',
      itemDate: '2002-12-17T03:24:00',
      popular: 2
    },
    {
      id: "10",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6 530",
      type: 'new sale',
      itemDate: '2047-12-17T03:24:00',
      popular: 5
    },
    {
      id: "11",
      imgPath: "content",
      imgName: "product-first-catalog",
      imgType: "jpg",
      imgWidth: 278,
      imgHeight: 278,
      imgAlt: "first-product",
      itemName: "Краска Wallquest, Brownsone MS90102",
      itemPrice: "6 000",
      type: 'sale',
      itemDate: '2013-12-17T03:24:00',
      popular: 2
    }
  ]
