mixin modal-busket()
  .busket
    h2.busket__name Корзина
    form.busket__wrapper-list
      .busket__wrapper-list-header
        .busket__wrapper-count
          span.busket__products-count 0
          span.busket__product-count-name товаров
        button.busket__clear(type="button") очистить корзину
      ul.busket__list
      .busket__wrapper-summ-buy
        .busket__wrapper-summ
          span.busket__summ-name Итого
          span.busket__summ-count 0
          span.busket__summ-count-name ₽
        button.busket__buy-button(type="submit") Оформить заказ
