mixin modal-mob-filter()
  .filter
    form.filters__wrapper
      +custom-toggle({
        typeClass: "tab",
        type: "checkbox",
        typeFor: "newMob",
        text: "Новинки",
        name: "newMob",
        value: "new",
        checked: false
      })
      +custom-toggle({
        typeClass: "tab",
        type: "checkbox",
        typeFor: "haveMob",
        text: "Есть в наличии",
        name: "havMobe",
        value: "have",
        checked: false
      })
      +custom-toggle({
        typeClass: "tab",
        type: "checkbox",
        typeFor: "contMob",
        text: "Контрактные",
        name: "contMob",
        value: "cont",
        checked: false
      })
      +custom-toggle({
        typeClass: "tab",
        type: "checkbox",
        typeFor: "exMob",
        text: "Эксклюзивные",
        name: "exMob",
        value: "ex",
        checked: false
      })
      +custom-toggle({
        typeClass: "tab",
        type: "checkbox",
        typeFor: "saleMob",
        text: "Распродажа",
        name: "saleMob",
        value: "sale",
        checked: false
      })
