mixin modal-sort()
  .sort-wrapper
    ul.sort-wrapper__list
      li.sort-wrapper__item
        button.sort-wrapper__button(type="button" value="expen" tabindex=0) Сначала дорогие
      li.sort-wrapper__item
        button.sort-wrapper__button(type="button" value="notexpen" tabindex=0) Сначала недорогие
      li.sort-wrapper__item
        button.sort-wrapper__button(type="button" value="popular" tabindex=0) Сначала популярные
      li.sort-wrapper__item
        button.sort-wrapper__button(type="button" value="new" tabindex=0) Сначала новые
